[user]
   name = {{ if hasKey . "git" }}{{ if hasKey .git "name" }}{{ .git.name }}{{ else }}Your Name{{ end }}{{ else }}Your Name{{ end }}
   email = {{ if hasKey . "git" }}{{ if hasKey .git "email" }}{{ .git.email }}{{ else }}your.email@example.com{{ end }}{{ else }}your.email@example.com{{ end }}
   signingkey = {{ if hasKey . "git" }}{{ if hasKey .git "gpg" }}{{ .git.gpg }}{{ else }}YOUR_GPG_KEY_ID{{ end }}{{ else }}YOUR_GPG_KEY_ID{{ end }}

[core]
    editor = nvim
    autocrlf = input # Use 'input' for Unix/Mac, 'true' for Windows
    whitespace = fix
    excludesfile = ~/.config/git/gitignore_global

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --oneline --graph --all
    prettylog = log --pretty=format:'%C(yellow)%h %Creset- %C(green)(%cr) %C(bold blue)<%an>%Creset %s' --abbrev-commit --date=relative

[push]
    default = current

[branch]
    autosetuprebase = always

[pull]
    rebase = true

[merge]
    tool = neovim
    cmd = nvim -d $LOCAL $REMOTE -c '$wincmd w' -c 'wincmd J'

[diff]
    tool = neovim
    cmd = nvim -d $LOCAL $REMOTE

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red

[commit]
    template = ~/.config/git/commit_template.txt
    gpgsign = true

[fetch]
    prune = true


[url "git@github.com:"]
  insteadOf = https://github.com/

[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/

[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org/

[gpg "program"]
    gpg = gpg
    gpgAgent = true
